/* styles/Home.module.css */

.homeContainer {
  text-align: center;
  padding: 2rem;
  padding-top: 10px;
}

.title {
  font-size: 3rem;
  color: #333;
}

.description {
  font-size: clamp(1rem, 4vw, 2rem); /* Responsive font size */
  color: #1f1e1e;
  margin-top: 10px;
  font-weight: 600;
}

/* Updated for compatibility */
.gradientText {
  font-size: clamp(1.7rem, 4vw, 2.5rem); /* Responsive font size */
  margin-bottom: 0;

  background: linear-gradient(90deg, blue, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-weight: 600; /* Optional: improves visibility */
  text-align: center; /* Optional: center-align for better layout on mobile */
  line-height: 1.2;
}

/* Add this to your CSS file if needed */
.transition-opacity {
  transition: opacity 0.7s ease;
}
